.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 1300px;
    margin: 24px auto;
}


.gallery-image{
    max-width: 360px;
}